{% extends 'users/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="columns is-centered">
        <div class="column is-4-desktop is-6-tablet is-10-mobile">
            <h2 class="title is-3 has-text-centered">Log in</h2>
            <form method="POST" class="box">
                {% csrf_token %}

                <div class="field">
                    {{ form.username.label_tag }}
                    <div class="control">
                        {{ form.username}}
                    </div>
                </div>
                
                <div class="field">
                    {{ form.password.label_tag }}
                    <div class="control">
                        {{ form.password }}
                    </div>
                </div>

                <div class="field columns is-centered">
                    <a href="/users/register/">
                        <strong>Ainda não tenho cadastro!</strong>
                    </a>
                </div>
                
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-primary is-fullwidth">Entrar</button>  <!-- Bulma button -->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
